

.img-brand{
  width: 17%
}
.logo{
  width: 100%;
  height: auto;
}
.link{
  /* font-family: 'Andada Pro', serif;
  font-family: 'Rajdhani', sans-serif;
  font-family: 'Sora', sans-serif; */
  font-family: 'Teko', sans-serif;
  font-weight: 500;
  margin-bottom: 5px;
  font-size: 20px;
  letter-spacing: 0.5px;
  color: #177bda;
}