.img{
    width:100%;
    height:40vh;
    margin: auto;

}

.name{
    font-family: 'Sora', sans-serif;
    font-weight: 700;
}
.price{
    font-family: 'Teko', sans-serif;
}
.des{
    font-family: 'Andada Pro', serif;
}
.appoint{
    width: 30%;
    margin: auto;
}

@media only screen and (max-width: 767px){
    .appoint{
        width: 65%;
        margin: auto;
    }    
}


@media only screen and (max-width: 367px){
    .appoint{
        width: 90%;
        margin: auto;
    }    
}